html *
{
   font-family: 'Red Hat Text' !important;
}

.navbar {
    height: 68px;
    background: #5E99F1;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
}

.navbar-brand {
    /* font-family: Red Hat Text; */
    color: white !important;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
}

.createNewEventButton {
    background: #5E99F1;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 1.5em;
    height: 50px;
    width: 100%;
    color: #ffffff;
}

.eventFormErrorMessage {
    color: #bf1650;
}

.eventFormErrorMessage::before {
    display: inline;
    content: "⚠ ";
}

.fieldInput {
    display: block;
    box-sizing: border-box;
    width: 100%;
    border-radius: 4px;
    border: 1px solid lightgray;
    padding: 10px 15px;
    margin-bottom: 10px;
    resize: none;
}

.fieldInput:focus {
  outline: none;
  border: 1px solid darkgray;
}

.checkboxInput {
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid white;
    padding: 10px 15px;
    margin-right: 10px;
}
/* #1d7bff */
button[type="submit"].blueButton, input[type="submit"].blueButton {
  background: #5E99F1;
  color: white;
  text-transform: uppercase;
  border: none;
  width: 100%;
  margin-bottom: 10px;
  padding: 15px 25px;
  border-radius: 4px;
  /* font-size: 16px; */
  /* font-weight: 100; */
  /* letter-spacing: 10px; */
}

button[type="submit"]:hover.blueButton, input[type="submit"]:hover.blueButton {
  background: #1d7bff;
}

button[type="submit"]:active.blueButton, input[type="button"]:active.blueButton, input[type="submit"]:active.blueButton {
  transition: 0.3s all;
  transform: translateY(3px);
  border: 1px solid transparent;
  opacity: 0.8;
}

button[type="button"].blueButton {
    width: 100%;
    display: block;
    appearance: none;
    background: #5E99F1;
    color: white;
    border: none;
    /* text-transform: uppercase; */
    padding: 10px 20px;
    border-radius: 4px;
}

button[type="button"]:hover.blueButton,
input[type="button"]:hover.blueButton {
  background: #1d7bff;
}

.centralDashboardContainer {
  margin: auto;
  margin-top: 1rem;
}

.colouredKeys {
  align-items: center;
  height: 100%;
}

@media (min-width: 568px) {
  .centralDashboardContainer {
    margin-top:3rem;
    max-width: 80vw;
  }
  .formSection {
    padding: 0px 25px
  }
}

@media (min-width: 1600px) {
  .centralDashboardContainer {
    max-width: 1280px;
  }
}

@media (max-width: 568px) {
  .colouredKeys {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

.circle {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  margin-bottom: -3px;
  background: #4AE575;
  display: inline-block;
}

.eventTableHeader {
  background-color: #5E99F1;
  color:#ffffff;
  font-weight: bold;
  padding: 10px 20px;
  width: 100%;
  display: inherit;
}

.eventTable {
  filter: drop-shadow(0px 4px 4px rgba(0,0,0,0.25));
}

.eventTable b, .eventTable span{
  padding: 10px 20px;
  display: inherit;
}

.eventTableColouredText  {
  text-align: end;
}

.eventTableColouredText span {
  display: inline;
  padding: 0px;
}


h2 {
  font-weight: bold;
}

.refreshButton {
  background-image: url("/refresh_button.png");
  height: 17px;
  width: 17px;
  display: inline-block;
  background-size: 17px;
  vertical-align: middle;
  background-repeat: no-repeat;
  margin-bottom: 3px;
  margin-left: 4px;
  filter: invert(1);
  -webkit-filter: invert(1);
  cursor: pointer;
}

.dropdownDown {
  height: 15px;
  width: 15px;
  margin-left: 5px;
  transform: rotate(180deg);
  cursor: pointer;
}

.dropdownUp {
  height: 15px;
  width: 15px;
  margin-left: 5px;
  cursor: pointer;
}