files:
  /etc/nginx/conf.d/proxy.conf:
    mode: "000755"
    owner: root
    owner: root
    content: |
      server {
        listen 80;
        server_name eventcus.com;
        if ($http_x_forwarded_proto = 'http'){
          return 301 https://$host$request_uri;
        }
      }

  /opt/elasticbeanstalk/hooks/configdeploy/post/99_kill_default_nginx.sh:
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash -xe
      rm -f /etc/nginx/conf.d/00_elastic_beanstalk_proxy.conf
      service nginx stop 
      service nginx start
      
container_commands:
  removeconfig:
    command: "rm -f /tmp/deployment/config/#etc#nginx#conf.d#00_elastic_beanstalk_proxy.conf /etc/nginx/conf.d/00_elastic_beanstalk_proxy.conf"